body{
    margin: 0;
    padding: 0;
    background-color: #424242;
    
}

.video-player{
    margin-left:25%;
    padding-top: 10em;
 
}
form{
    margin-left: 50%;
    margin-top: 6%;
    bottom: 0
    position: absolute;
    border: none;
    width: 50em;
    float: left;
}
input{
    position:relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    
}

input[type="text"]{
    font-family: 'Montserrat', sans-serif;
    background: #424242;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    color: black;
}

input[type="submit"]{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 155px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: #424242;
    color: white;
    
}
header{
    padding:0%;
    margin: 0%;
}

header h1{
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    width: 20%
}

.search-box{
    width: 250px;
    padding-left: 25%;
    position: fixed;
        
}

.top-bar{
    position: fixed;
    background-color: #212121;
    width: 100%
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}
.ads-block{
    padding-top: 0;
    margin-left: 25%;
}

